body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background: #FFD900;
    padding: 20px 0px 20px 0px;
}

header img{
    margin-left: 40px;
}

section{
    display: flex;
}

#ladoEsquerdo{
    width: 45%;
    background: #514988;
}

#ladoEsquerdo h1{
    color: #F3C61F;
    text-align: center;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px;
}

#ladoEsquerdo h2{
    color: #FFF;
    text-align: center;
    font-family: Verdana;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}

#ladoEsquerdo p{
    color: #FFF;
    text-align: center;
    font-family: Verdana;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px;
}

#ladoDireito{
    width: 55%;
    text-align: center;
    padding-bottom: 10px;
}

#ladoDireito h2{
    color: #E33881;
    text-align: center;
    font-family: Verdana;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 10px 0;
}

#countDown{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#countDown h1{
    color: #514988;
    text-align: center;
    font-family: Verdana;
    font-size: 3em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

#msgRodape h2{
    font-size: 1.6em;
    font-weight: 700;
    margin: 10px 0px 10px 40px;
    color: #F3C61F;
}

footer button{
    color: #FFF;
    text-align: center;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 35%;
    height: 145px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #514988;
}

button:hover{
    cursor: pointer;
    color: #F3C61F;
}

#rodape{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

#ingressos{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.card-highlight{
    box-shadow: 5px 5px grey;
}

@media only screen and (max-width: 1200px) {
    body{
        font-size: 12px;
    }
    #ingressos img{
        margin: 0;
        width: 40%;
    }

    footer button{
        margin-top: 15px;
        width: 25%;
        height: 100px;
    }
}

@media only screen and (max-width: 600px) {
    body{
        font-size: 10px;
    }
    section{
        flex-direction: column;
    }
    #ladoEsquerdo{
        width: 100%;
    }
    #ladoDireito{
        width: 100%;
    }
    #rodape{
        flex-direction: column;
    }

    #ingressos img{
        margin: 0;
        width: 50%;
    }
    footer button{
        margin-top: 15px;
        width: 50%;
        height: 70px;
    }

}